Repository aztek-io/cloudtrail-bot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, TerraformValidate, TerraformPlan, TerraformApply

buildCloudTrailBotArtifacts:
  stage: build_artifacts
  script:
  - echo "$DOCKER_HOST"
  - echo "$DOCKER_DRIVER"
  - docker build -t 'cloudtrail_bot:latest' Resources/Scripts/CloudTrailBot/
  - docker run -d --name cloudtrail_bot_build cloudtrail_bot:latest
  - docker cp cloudtrail_bot_build:/tmp/Build.zip "$CLOUDTRAIL_BOT_ARCHIVE"
  ...

pushCloudTrailBotArtifacts:
  stage: push_artifacts
  script:
  - aws s3 cp "$CLOUDTRAIL_BOT_ARCHIVE" "s3://${ARCHIVE_BUCKET}"
  image:
    name: aztek/awscli
    entrypoint:
    - /usr/bin/env
    - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

TerraformValidate:
  stage: test_syntax
  script:
  - terraform validate "$TERRAFORM_DIR"

TerraformPlan:
  stage: terraform_plan
  script:
  - "terraform plan \\\n    -var \"project=$PROJECT\" \\\n    -var \"environment=$ENVIRONMENT\" \\\n    -var \"webhook=$SLACK_WEBHOOK\" \\\n    -var \"channel=$SLACK_CHANNEL\" \\\n    -out=\"${PROJECT}-${ENVIRONMENT}.tf_plan\" \\\n    \"$TERRAFORM_DIR\"\n"
  artifacts:
  ...

TerraformApply:
  stage: terraform_apply
  script:
  - terraform apply --auto-approve "${PROJECT}-${ENVIRONMENT}.tf_plan"
  dependencies:
  - TerraformPlan

Rewrote most of the CI pipeline, and upgraded IaC to version 0.12.
  .gitlab-ci.yml
  Terraform/cloudtail.tf
  Terraform/iam.tf
  Terraform/lambda.tf
  Terraform/provider.tf
  Terraform/remote_state.tf
  Terraform/s3.tf
  Terraform/secrets.tf-example
  Terraform/vars.tf
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, TerraformValidate, TerraformPlan, TerraformApply

Fixed typos.
  Terraform/iam.tf
  Terraform/lambda.tf
Due: TerraformValidate, TerraformPlan, TerraformApply

Changed logging to make it a bit easier to troubleshoot issues.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Added only changes conditional for terraform apply.
  .gitlab-ci.yml
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, TerraformValidate, TerraformPlan, TerraformApply

Changed lambda timeout to 15 seconds due to exponiential slowdown during large batch sizes.
  Terraform/lambda.tf
Due: TerraformValidate, TerraformPlan, TerraformApply

Path conditions:
  buildCloudTrailBotArtifacts: any of: .gitlab-ci.yml, Resources/Scripts/CloudTrailBot/*
  pushCloudTrailBotArtifacts: any of: .gitlab-ci.yml, Resources/Scripts/CloudTrailBot/*
  TerraformValidate: any of: .gitlab-ci.yml, Terraform/*.tf
  TerraformPlan: any of: .gitlab-ci.yml, Terraform/*.tf
  TerraformApply: any of: .gitlab-ci.yml, Terraform/*.tf
