Repository aztek-io/cloudtrail-bot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, apply

.gitlab-ci.yml:

########################################
### Image ##############################
########################################

image:
  name: hashicorp/terraform:light
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

variables:
  CLOUDTRAIL_BOT_ARCHIVE: Resources/Scripts/CloudTrailBot/cloudtrail_bot.zip
  CLOUDTRAIL_BOT_SCRIPT: Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  ARCHIVE_BUCKET: archives.aztek.io

########################################
### Prerequisites ######################
########################################

before_script:
  - |
        if command -v terraform; then
            terraform --version
            terraform init ./Terraform
        elif command -v aws; then
            aws --version;
        elif command -v docker; then
            docker --version;
        fi

stages:
  - build_artifacts
  - push_artifacts
  - plan
  - deploy

########################################
### Build Artifacts ####################
########################################

buildCloudTrailBotArtifacts:
  stage: build_artifacts
  script:
    - |
        echo "$DOCKER_HOST"
        echo "$DOCKER_DRIVER
        docker build -t 'cloudtrail_bot:latest' Resources/Scripts/CloudTrailBot/ 1> /dev/null
        docker run -d --name cloudtrail_bot_build cloudtrail_bot:latest
        docker cp cloudtrail_bot_build:/Build.zip "$CLOUDTRAIL_BOT_ARCHIVE"
  image: docker
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
    - docker:dind
  artifacts:
    paths:
    - "$CLOUDTRAIL_BOT_ARCHIVE"
    expire_in: 5 minutes
  only:
    changes:
      - Resources/Scripts/CloudTrailBot/*

########################################
### Build Artifacts ####################
########################################

pushCloudTrailBotArtifacts:
  stage: push_artifacts
  script:
    - |
        aws s3 cp "$CLOUDTRAIL_BOT_ARCHIVE" "s3://${ARCHIVE_BUCKET}"
  image: aztek/awscli
  only:
    changes:
      - Resources/Scripts/CloudTrailBot/*

########################################
### Plan ###############################
########################################

plan:
  stage: plan
  script:
    - terraform plan ./Terraform
  only:
    changes:
        - Terraform/*.tf

########################################
### Apply ##############################
########################################

apply:
  stage: deploy
  script:
    - terraform apply -auto-approve ./Terraform
  dependencies:
    - plan
  only:
    changes:
        - Terraform/*.tf

Fixed missing quote.
  .gitlab-ci.yml
Due: none

Touched python script for rebuild.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Commented out requirements.txt
  Resources/Scripts/CloudTrailBot/Dockerfile
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Commented out requirements.txt logic.
  Resources/Scripts/CloudTrailBot/Dockerfile
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Moved comment.
  Resources/Scripts/CloudTrailBot/Dockerfile
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Attempting to correct gitlab-ci.ymlw
  .gitlab-ci.yml
Due: none

Updated deployment package.
  Terraform/lambda.tf
Due: plan, apply

Corrected bucket name.
  Terraform/lambda.tf
Due: plan, apply

Added s3 trigger for lambda function.
  Terraform/s3.tf
Due: plan, apply

Added trigger for deploying new code.
  .gitlab-ci.yml
Due: none

Updated Dockerfile, created Python 3 deployment package.
  Resources/Scripts/CloudTrailBot/Dockerfile
  Terraform/lambda.tf
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, apply

Added basic event parsing logic. TODO: use boto3 to parse the true event object from s3.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Created reprovision step for CloudTrail Bot script updates.
  .gitlab-ci.yml
Due: none

Corrected dependency.
  .gitlab-ci.yml
Due: none

Added dependency to apply step.
  .gitlab-ci.yml
Due: none

Started using requests again since urllib changed between python 2 and 3. Added secrets.tf example, and modified the CI pipeline to account for this change in logic.
  .gitignore
  .gitlab-ci.yml
  Resources/Scripts/CloudTrailBot/Dockerfile
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  Resources/Scripts/CloudTrailBot/requirements.txt
  Terraform/lambda.tf
  Terraform/secrets.tf-example
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, apply

Added reprovision stage.
  .gitlab-ci.yml
Due: none

Corrected build path. Removed docker build STDOUT redirect.
  .gitlab-ci.yml
Due: none

moved heredoc to it's own step.
  .gitlab-ci.yml
Due: none

Optimized Dockerfile a bit more.
  Resources/Scripts/CloudTrailBot/Dockerfile
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Testing.
  Resources/Scripts/CloudTrailBot/Dockerfile
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Changed pip target.
  Resources/Scripts/CloudTrailBot/Dockerfile
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Removed virtualenv since it wasn't working the way that I intended.
  Resources/Scripts/CloudTrailBot/Dockerfile
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Added logic to parse s3 objects.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Enabled lambda event logging.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Added logic for list of records.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Added Assume back to ignore list
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Added Decrypt to ignore logic.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Improved logging.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Improved link in Slack, and worked on script optimization so that it can run faster.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Created README.md.
  README.md
Due: none

Updated README. Added pictures.
  README.md
  Resources/Images/.DS_Store
  Resources/Images/Screen Shots/Screen Shot 2019-02-09 at 1.12.19 AM.png
  Resources/Images/Screen Shots/Screen Shot 2019-02-09 at 1.12.55 AM.png
  Resources/Images/Slack Icons/cloudtrail.png
  Resources/Images/Slack Icons/cloudtrail_padding.png
Due: none

Added file extensions in README.md
  README.md
Due: none

Corrected markdown.
  README.md
Due: none

Added alt text since GitLab mardown requires it.
  README.md
Due: none

Added additioinal text formatting.
  README.md
Due: none

Corrected gramatical error.
  README.md
Due: none

Updated README to be clearer, Added arrow to screenshot.
  README.md
  Resources/Images/Screen Shots/Screen Shot 2019-02-09 at 1.12.19 AM.png
Due: none

Added additional logic to get assumed role users.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts

Modified event ignore list.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts
