Repository aztek-io/cloudtrail-bot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, destroy, apply

.gitlab-ci.yml:

########################################
### Image ##############################
########################################

image:
  name: hashicorp/terraform:light
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

variables:
  CLOUDTRAIL_BOT_ARCHIVE: Resources/Scripts/CloudTrailBot/cloudtrail_bot.zip
  CLOUDTRAIL_BOT_SCRIPT: Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  ARCHIVE_BUCKET: archives.aztek.io

########################################
### Prerequisites ######################
########################################

before_script:
  - |
        if command -v terraform; then
            terraform --version
            terraform init ./Terraform
            cat > ./Terraform/secrets.tf << EOF
        variable "secret" {
            type    = "map"
            default = {
                slack_webhook = "$SLACK_WEBHOOK",
                slack_channel = "$SLACK_CHANNEL"
            }
        }
        EOF
        elif command -v aws; then
            aws --version;
        elif command -v docker; then
            docker --version;
        fi

stages:
  - build_artifacts
  - push_artifacts
  - plan
  - deploy

########################################
### Build Artifacts ####################
########################################

buildCloudTrailBotArtifacts:
  stage: build_artifacts
  script:
    - echo "$DOCKER_HOST"
    - echo "$DOCKER_DRIVER"
    - docker build -t 'cloudtrail_bot:latest' Resources/Scripts/CloudTrailBot/ 1> /dev/null
    - docker run -d --name cloudtrail_bot_build cloudtrail_bot:latest
    - docker cp cloudtrail_bot_build:/Build.zip "$CLOUDTRAIL_BOT_ARCHIVE"
  image: docker
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
    - docker:dind
  artifacts:
    paths:
    - "$CLOUDTRAIL_BOT_ARCHIVE"
    expire_in: 5 minutes
  only:
    changes:
      - .gitlab-ci.yml
      - Resources/Scripts/CloudTrailBot/*

########################################
### Build Artifacts ####################
########################################

pushCloudTrailBotArtifacts:
  stage: push_artifacts
  script:
    - aws s3 cp "$CLOUDTRAIL_BOT_ARCHIVE" "s3://${ARCHIVE_BUCKET}"
  image:
    name: aztek/awscli
    entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
  only:
    changes:
      - .gitlab-ci.yml
      - Resources/Scripts/CloudTrailBot/*

########################################
### Plan ###############################
########################################

plan:
  stage: plan
  script:
    - terraform plan ./Terraform
  only:
    changes:
      - .gitlab-ci.yml
      - Terraform/*.tf

########################################
### Reprovision ########################
########################################

destroy:
  stage: deploy
  script:
    - terraform destroy --target aws_lambda_function.cloudtrail_bot -auto-approve ./Terraform
  dependencies:
    - pushCloudTrailBotArtifacts
  only:
    changes:
      - .gitlab-ci.yml
      - Resources/Scripts/CloudTrailBot/*

########################################
### Apply ##############################
########################################

apply:
  stage: deploy
  script:
    - terraform apply -auto-approve ./Terraform
  dependencies:
    - plan
    - destroy
  only:
    changes:
      - .gitlab-ci.yml
      - Terraform/*.tf
      - Resources/Scripts/CloudTrailBot/*

Opted to ignore creation of log streams.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Added request timeout so that lambda function has time to fail gracefully, corrected principalId logic.
  .gitignore
  Resources/Images/.DS_Store
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Updated fatal function to use critical logging.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Removed faulty logic.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Opted to ignore renew role.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Removed event_ignore_list hard coding, improved logging.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  Terraform/lambda.tf
  Terraform/vars.tf
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, destroy, apply

Added tags for costing.
  Terraform/cloudtail.tf
  Terraform/iam.tf
  Terraform/lambda.tf
  Terraform/s3.tf
  Terraform/vars.tf
Due: plan, apply

Added additional tagging.
  Terraform/cloudtail.tf
  Terraform/iam.tf
  Terraform/lambda.tf
  Terraform/s3.tf
  Terraform/vars.tf
Due: plan, apply

Attempting to improve efficiency and logging.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Removed bucket hard coding.
  Terraform/lambda.tf
  Terraform/s3.tf
  Terraform/vars.tf
Due: plan, apply

Added user ignore list.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  Terraform/lambda.tf
  Terraform/vars.tf
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, destroy, apply

Removed my CI user from User Ignore list, because I want to see if the creds are ever compromised.
  Terraform/vars.tf
Due: plan, apply

Corrected user ignore logic.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Updated user ignore list
  Terraform/vars.tf
Due: plan, apply

Added additional ignore users.
  Terraform/vars.tf
Due: plan, apply

Added ignore CloudFormation events logic.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  Terraform/lambda.tf
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, destroy, apply

Changed ignore cloudfomration logic to be more elegent.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Added source ignore list logic to Lambda function
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  Terraform/lambda.tf
  Terraform/vars.tf
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, destroy, apply

Ignoring code pipeline users.
  Terraform/vars.tf
Due: plan, apply

Updated Variables. Fixed issue with terraform disliking PCRE by switching to Extended Regex.
  Terraform/lambda.tf
  Terraform/vars.tf
Due: plan, apply

Updated expression ignore list.
  Terraform/vars.tf
Due: plan, apply

Added additional items to ignore.
  Terraform/vars.tf
Due: plan, apply

Added profile to AWS provider.
  Terraform/provider.tf
Due: plan, apply

Added AWS Config to the service ignore list.
  Terraform/vars.tf
Due: plan, apply

Ignoring sourceIPAddress keys matching amzaonaws.com
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Corrected REGEX pattern (was missing a period, added carrot and dollar sign even though they aren't really needed).
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Added sloppy logic to account for events like those triggered by codepipeline or dynamodb autoscalling.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Enabled log file validation.
  Terraform/cloudtail.tf
Due: plan, apply

Enabled global service logging.
  Terraform/cloudtail.tf
Due: plan, apply

Enabled logging for all regions.
  Terraform/cloudtail.tf
Due: plan, apply

Added consistency to json.dumps format.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Added logic to handle digest objects.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Fixed tags syntax error.
  Terraform/iam.tf
Due: plan, apply

Fixed more terraform 0.11 > 0.12 issues.
  Terraform/cloudtail.tf
  Terraform/lambda.tf
  Terraform/s3.tf
Due: plan, apply

Fixed minor syntax errors.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Added always alert logic.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
  Terraform/lambda.tf
  Terraform/vars.tf
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, destroy, apply

Fixed minor logic error.
  Resources/Scripts/CloudTrailBot/cloudtrail_bot.py
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, destroy, apply

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: buildCloudTrailBotArtifacts, pushCloudTrailBotArtifacts, plan, destroy, apply
